.card-large{
 display: grid;
 grid-template-columns: 1fr 1fr;
 &__video{
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  video{
   height: 100%;
   object-fit: cover;
  }
 }
 &__content{
  padding: 60px 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
 }
}

@media (max-width: 1600px){
 .card-large{
  &__content{
   padding: 50px 38px;
  }
 }
}

@media (max-width: 1280px){
 .card-large{
  height: auto;
  grid-template-columns: 1fr;
  &__video{
   video{
    width: 100%;
   }
  }
  &__img{
   height: 500px;
   width: 100%;
  }
 }
}

@media (max-width: 1024px){
 .card-large{
  &__img{
   height: 400px;
  }
  &__content{
   padding: 30px;
   gap: 30px;
  }
 }
}


@media (max-width: 768px){
 .card-large{
  &__img{
   height: 260px;
  }
 }
}


