$border-radius-lg: 64px; 
$border-radius-sm: 48px; 
$margin-lg: 200px;
$margin-md: 150px;
$margin-sm: 100px;

$text-color-dark-bg: #929292;
$text-color-light-bg: #6a6a6a;
$text-color-dark-title: #292929;


$border-radius-lg-media: 32px; 
$border-radius-sm-media: 24px; 